@property --rotate {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(22, 50px);
    gap: 5px;
    padding: 20px;
    background-color: #4a4a4a;
    border-radius: 10px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.1s ease;
    text-align: center;
    user-select: none;
    color: #007aff; 
    

    background: linear-gradient(90deg, #4a90e2, #007aff, #4a90e2);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: hue-rotate(var(--rotate));
    animation: gradientShift 3s infinite linear;
}


.key.function { background-color: #d3d3d3; }

.key:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.key:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

/* Анимация вращения и эффекта подсветки текста */
@keyframes gradientShift {
    0% { --rotate: 0deg; background-position: 0%; }
    100% { --rotate: 360deg; background-position: 100%; }
}

/* Специфические стили для клавиш */
.key.esc { background-color: #ffdddd; }
.key.space { grid-column: span 6; }
.key.backspace { grid-column: span 2; }
.key.tab { grid-column: span 2; }
.key.enter { grid-column: span 2; }
.key.shift { grid-column: span 2; }
.key.capslock { }
.key.tilde { grid-column-start: 0; grid-column-end: 2; }
.up-arrow, .down-arrow, .left-arrow, .right-arrow { font-weight: bold; }
.up-arrow { grid-column-start: 17; }

/* Зона для цифровой клавиатуры */
.key.numpad { background-color: #e0e0f0; }
.key.number.four { grid-column-start: 19; }
.key.number.one { grid-column-start: 19; }
.key.numpad_enter {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 22;
    height: 105px;
}
.key.number.plus {
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 22;
    height: 105px;
}